a:hover{
    color:red;
}
a{
    color: blue;
}
.separator{
    border-bottom: 1px;
    border-color: #ccc;
}
body{
    font:.8em Helvetica,Arial,sans-serif;
}

fieldset{
    padding: 10px;

    border:solid 0.5px;
    border-color: #cc9 ;
    margin-bottom: 7px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.35);
}

.layout{
    max-width: 800px;
    margin:auto;
}

input{
    width:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.input-notwide{
    width:auto;
}

.paragraph-with-little-margin{
    margin-bottom: 2px;
}

.accordion{
    width:100%;
}

.accordion-content{
    overflow:hidden;
    transition:height 0.2s ease-in;
    -moz-transition:height 0.2s ease-in;
    -webkit-transition:height 0.2s ease-in;

}

.accordion-content-collapsed{
    height:0;
}

#submit{
    zoom:200%

}

.error{
    color: #c00;
}